.suffix__about {
  text-align: left;
  font-size: 4rem;
  padding: 5rem;
  color: #666;
}

.suffix__about__title {
  font-size: 4rem;
  padding: 2rem 0;
  color: rgba(0, 0, 0, 0.768);
}

@media screen and (max-width: 576px) {
  .suffix__about {
    padding: 3rem 1rem;
  }
}
