* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  width: 88%;
  max-width: 120rem;
  margin: auto;
}
